{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Connecte</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'favicon.ico' %}">
     
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'music/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'music/css/main1.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="{% url 'music:pageD' %}"><span><img src="{% static 'music/img/core-img/logo.png' %}" alt="" style="width: 100px; margin-bottom: 15px"></span></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="{% url 'music:pageD' %}"><i class="icon-home"></i> Acceuil</a></li>
                                    <li><a href="#">Albums</a>
                                    <ul class="dropdown">
                                    <li><a href="{% url 'music:index' %}">Recent</a></li>
                                    <li><a href="{% url 'music:albums' %}">Vedette</a></li>
                                   </ul>
                                    <li><a href="#"><i class="icon-file-2"></i> Musiques</a>
                                        <ul class="dropdown">
                                            <li><a href="">Francaise</a></li>
                                            <li><a href="">Anglaise</a></li>
                                            <li><a href="">Espagnole</a></li>
                                            <li><a href="">Africaine</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'music:playlist' %}"><i class="icon-music"></i> Playlists</a></li>
                                    <li style="display: none;"><a href="{% url 'music:blog' %}"><i class="icon-message"></i> Blog</a></li>
                                    <li><a href="{% url 'music:contact' %}"><i class="icon-message-1"></i> Contact</a></li>
                                </ul>

                                <!-- Login/Register & Cart Button -->
                                <div class="login-register-cart-button d-flex align-items-center">
                                    <!-- Login/Register -->
                                    <div class="login-register-btn mr-50">
                                        <a href="{% url 'music:login_user' %}" id="loginBtn"><b>Connecter</b></a>
                                    </div>

                                    <!-- Cart Button -->
                                    <div class="login-register-btn mr-50">
                                        <a href="{% url 'music:register' %}" id="registerBtn"><b><i class="icon-user"></i> S'inscrire</b></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'music/img/bg-img/breadcumb3.jpg' %});">
        <div class="bradcumbContent">
            <h2>Connectez-vous ici</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Login Area Start ##### -->
    <section class="login-area section-padding-100">
        <div class="container container-log" style="width: 90%">


                            <br /><br /><br />
            <h2 class="sign">Connecte</h2><br /><br />

        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if error_message %}
    <p style="text-align: center; color: red"><strong>{{ error_message }}</strong></p>
{% endif %}
            <div class="suss container" style="width: 250px; margin-bottom: 40px">
                <i class="fas fa-user-alt" id="icon"></i>
                <input id="id_username" name="username" type="text" class="sus" placeholder="Entrer votre nom d'utilisateur" required="required">
            </div>
            
            <div class="suss container" style="width: 250px; margin-bottom: 40px">
                <i class="fas fa-lock" id="icon"></i>
                <input id="id_password" name="password" type="password" class="sus" placeholder="Entrer votre mot de passe" required="required">
            </div>
            
            <div>
                <button type="submit" class="btn btn-primary sub" value="submit" style="margin-bottom: 30px">Envoyer</button>
            </div>
        </form>
        <div class="connect">
            <a href="{% url 'music:register' %}" style="color: red"> vous n'avez pas encore de Compte </a><br><br>
        </div>
        </div>
        </div>
    </section>
    <!-- ##### Login Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <p class="copywrite-text"><a href="#">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="" target="_blank">DOCTYPE_CODERS</a>
</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'music/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'music/js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'music/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'music/js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'music/js/active.js' %}"></script>
</body>

</html>