/*design by DOCTYPE Coders , develloped by Doctype Coders , edition 2019 music website , copyright all right reserved*/
{% load staticfiles %}
body {
    background: white url("music/images/background.png");
}

*{
	margin: 0px;
	padding: 0px;
}

.ninja{
	margin: 0px;
	padding: 10px;
}

.item{
 	color: white;
 	
 	font-weight: bold;
 	font-size: 15px;

 	

}
.search{
	margin-right: 120px;
}

.item:hover{
	color: #7f8fa6;
}

.humberger{
	color: white;

	border: none;

	background: none; 
}

.humberger-icon{
	display: none;
}

.barre{
	background-color: #353b48;

	margin-bottom: 50px;

	
}



.btn-submit{
	background-color: #718093;
	color: white;

	border: 1px solid #718093;
    
    transition: 1s;
}

.btn-submit:hover{
      background-color: #71809336;
      border: 1px solid #71809336;
}



.cree-item{
	background-color: #40739e;
	color: white;

	border: 1px solid #40739e;

	margin: 5px;

	transition: 1s; 
}

.cree-item:hover{

	background-color: #00a8ff36;

	border: 1px solid ;
}

/*end header */
/*open for container body section*/

.add{
    background: -moz-linear-gradient(left, #192a56 0%, #40739e 25%, #192a56 50%, #40739e 50%, #192a56 73%, #40739e 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #192a56 0%, #40739e 25%, #192a56 50%, #40739e 50%, #192a56 73%, #40739e 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #192a56 0%, #40739e 25%, #192a56 50%, #40739e 50%, #192a56 73%, #40739e 100%);

    color: white;

    padding-top: 4px;
    padding-left: 50px;

    border: 0.5px solid;
    border-radius: 50px;
}


.principal{
	padding-top: 20px;
}






@media screen and (max-width: 768px){

	.humberger-icon{
	padding: 0px;

	font-size: 30px;

	display: block;
}

	.search{
	margin-right: 10px;
}


}

@media screen and (max-width: 1199px){

	.search{
	margin-right: 100px;
}

	.cree{
	margin-right: 10px;
	margin-left: 10px;
}

}

